/* START General */

:root {
    --primary-color: #ffffff;
    --primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secondary-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* END General */

/* START Utility */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* END Utility */

/* START Header */

header {
    padding: 20px;
    font-family: var(--secondary-font-family);
    background-color: #2a607c;
    color: var(--primary-color);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--primary-font-family);
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* END Header */

/* START Hero */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* END Hero */

/* START Content */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--primary-font-family);
    background-color: #0072bb;
    color: var(--primary-color);
}

/* END Content */

/* START Benefits */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--primary-font-family);
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
    color: var(--primary-color);    
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* END Benefits */

/* START Footer */

footer {
    padding: 30px;
    clear: both;
    font-family: var(--secondary-font-family);
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* END Footer */